<link rel="stylesheet" href="vendors/editormd/css/editormd.min.css" />
<script src="vendors/editormd/editormd.js"></script>
<link rel="stylesheet" href="css/katex.min.css">
<script src="vendors/katex.js"></script>
<script src="js/editor.js"></script>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Editor
        </div>
        <div class="card-body">
          <div id="question">
            <textarea style="display:none;">### Hello Editor.md !</textarea>
          </div>
          <div id="ktest"></div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>