<link rel="stylesheet" href="vendors/editormd/css/editormd.min.css" />
<link rel="stylesheet" href="css/dataTables.bootstrap4.min.css" />
<script src="vendors/editormd/editormd.min.js"></script>
<script src="vendors/datatables.min.js"></script>
<script src="vendors/DataTablesBS4.js"></script>
<script src="vendors/dataTables.rowReorder.min.js"></script>
<script src="js/exam_save.js"></script>



<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> 添加/修改试卷
                    <span class=" float-right">
                        <button type="button" class="btn btn-sm btn-danger" id="btn_qdel">删除</button>
                        <button type="button" class="btn btn-sm btn-primary" id="btn_examgen">生成</button>
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#exam_qadd">添加题目</button>
                    </span>
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-bordered table-striped table-sm compact no-footer" id="exam_qlist" style="border-collapse: collapse !important">
                    </table>
                </div>
                <div class="card-footer p-4">

                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> 试卷内容
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text text-primary"><strong>试卷名称*</strong></span>
                        </div>
                        <input type="text" id="exam_name" name="exam_name" class="form-control">

                    </div>
                </div>
                <div id="exam">
                    <textarea style="display:none;"></textarea>
                </div>

            </div>
            <div class="card-footer p-4">
                    <button type="button" class="btn btn-primary" id="exam_save">保存试卷</button>
                    <button type="button" class="btn btn-primary" id="exam_pdf">导出试卷</button>
            </div>
        </div>
    </div>
    <!--/.col-->
</div>
<!--/.row-->

<div class="modal fade" id="exam_qadd" tabindex="-1" role="dialog" aria-labelledby="添加题目" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width:1000px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">选择题目</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-responsive-sm table-bordered table-striped table-sm compact no-footer nowrap" id="qlist" style="border-collapse: collapse !important">
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->