<script src="https://www.wiris.net/demo/editor/editor"></script>
<script src="js/mathtype.js"></script>

<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Editor
                </div>
                <div class="card-body">
                    <div id="editorContainer"></div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>