<link rel="stylesheet" href="vendors/editormd/css/editormd.min.css" />
<link rel="stylesheet" href="css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet" href="css/select2.min.css" />
<script src="vendors/editormd/editormd.js"></script>
<script src="vendors/datatables.min.js"></script>
<script src="vendors/DataTablesBS4.js"></script>
<script src="vendors/select2.min.js"></script>
<script src="js/questions.js"></script>
<script src="vendors/katex.js"></script>



<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> 题目列表
          <span class=" float-right">
            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#qadd" id="btn_qadd">添加</button>
          </span>
        </div>
        <div class="card-body">
          <table class="table table-responsive-sm table-bordered table-striped table-sm compact no-footer" id="qlist" style="border-collapse: collapse !important">
          </table>
        </div>
        <div class="card-footer p-4">
         
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<div class="modal fade" id="qadd" tabindex="-1" role="dialog" aria-labelledby="添加题目" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="max-width:1000px">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">添加题目</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group row">
            <div class="form-group col-sm-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">*题型</span>
                </div>
                <div>
                  <select id="qtype" name="qtype" class="form-control">
                    <option value="填空">填空</option>
                    <option value="选择">选择</option>
                    <option value="判断">判断</option>
                    <option value="解答">解答</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">*难度</span>
                </div>
                <div>
                  <select id="qrank" name="qrank" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <label for="recipient-name" class="col-form-label">*题目:</label>
          <div class="form-group" id="question">
            <textarea class="form-control"></textarea>
          </div>
          <label for="recipient-name" class="col-form-label">*答案:</label>
          <div class="form-group" id="answer">
            <textarea class="form-control"></textarea>
          </div>
          <label for="recipient-name" class="col-form-label">解析:</label>
          <div class="form-group" id="solution">
            <textarea class="form-control"></textarea>
          </div>
              <select class="form-control tags" multiple="multiple" ></select>
          <input type="hidden" id="qid" name="qid" class="form-control" >
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="qsave">保存</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="confirmdel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">删除题目</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>点击确认删除题目!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-danger" id="qdel">确认</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->